* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  background-image: url("src/assets/heroimg.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container img {
  width: 500px;
}

.hero-container div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.hero-container input {
  margin-right: 10px;
  padding: 12px;
  width: 310px;
  border: none;
  font-size: 18px;
}

.hero-container button {
  padding: 13px 22px;
  background-color: #04aa6d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.hero-container button:hover {
  background-color: #039e5a;
}
